body{
	font-family: "microsoft yahei",tahoma,arial,helvetica;
}
#info{
	background: url(../img/header_bg.jpg) repeat-x;
	background-size: auto 100%;
//	filter:grayscale(1);
}
#infoBasic{
	height: 100px;
	border-bottom: 1px solid #3c313d;
	background-color: rgba(0,0,0,.8);
	.headTitle{
		float: left;
		word-spacing: 6px;
		height: 100px;
		.name{
			line-height: 100px;
			color: white;
			font-size: 36px;
			font-weight: 100;
		}
		.job{
			line-height: 116px;
			font-size: 16px;
			color: #d1645a;
		}
	}
	.contactMe{
		float: right;
		width: 320px;
		height: 100px;
		line-height: 104px;
		font-size: 14px;
		color: #92929a;
		.fa{
			font-size: 16px;
			line-height: 26px;
			text-align: center;
			width: 28px;
			height: 28px;
			border: 1px solid #756f7b;
			border-radius: 50%;
			color: #9999a2;
		}
		.address_qq{
			float: left;
		}
		.address_email{
			float: right;
			a{color: inherit;}
		}
	}		
}
#infoDetail{
	height: 350px;
	background-color: rgba(10,10,10,.8);
	position: relative;
	.motto{
		height: 350px;
		width: 340px;
		float: left;
		line-height: 24px;
		font-size: 14px;
		color: #b6bbc0;
		.text{
			padding-left: 28px;
			position: relative;
		}
		.text:before{
			position: absolute;
			top: -60px;
			left: 0;
			font-size: 60px;
			content: "\“";
			font-family: "Khmer Sangam MN";
			line-height: 200px;
			color: #4e5055;
		}
		.text:after{
			display: inline-block;
			vertical-align: top;
			height: 0;
			font-size: 60px;
			line-height: 200px;
			content: "\”";
			font-family: "Khmer Sangam MN";
			margin-top: -60px;
			color: #4e5055;
			margin-left: 4px;
		}
	}
	.photo{
		width: 200px;
		height: 200px;
		border: 3px solid #e16b5f;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -103px 0 0 -103px;		
		img{
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	.infoLs{
		padding-top: 80px;
		float: right;
		width: 300px;
		position: relative;
		.item:after{
			content: '';
			display: block;
			clear: both;
		}
		.item{
			font-size: 14px;
			line-height: 30px;
			.li_title{
				color: #8d8e8f;
				width: 60px;
				text-align: right;
				float: left;
			}
			.li_content{
				color: #c5cbd0;
				float: left;
				padding-left: 20px;
				a{
					color: inherit;
				}
				a:hover{
					text-decoration: underline;
				}
			}
			.li_content:before{
				content: '';
				float: left;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin: 11px 0 0 -14px;
				background-color: #744776;				
			}
		}
	}
}
.module_head{
	height: 100px;
	padding-top: 40px;
	text-align: center;
	.title{
		font-size: 36px;
		line-height: 40px;
		
		font-weight: 100;
	}
	.desc{
		font-size: 16px;
		line-height: 36px;
		
	}
}
#abilityShow{
	height: 750px;
	border-bottom: 2px solid #fff;  
	// background: url(../img/ab_bg.png);

	background: url(../img/ab_bg2.jpg);
	background-size: 100% 100%;
	
	background-color: #eef2f5;
	padding-bottom: 50px;

	.ab_head{
		.title{color: #985a99;}
		.desc{color: #999999;}
	}
	.ab_content{
		height: 610px;
		.word{
			position: relative;
			float: left;
			width: 370px;
			height: 100%;
			.list{
				transition: 3s;
				opacity: 0;
				display: none;
			}
			.list.active{
				opacity: 1;
				display: block;
			}
			.item{
				padding-left: 30px;
				margin-bottom: 30px;
				dt,dd{
					position: relative;
				}
				dt{
					font-size: 24px;
					line-height: 38px;
				}
				dt:before{
					content: '●';
					position: absolute;
					left: -30px;
					font-size: 40px;
					line-height: 30px;
				}
				dd{
					font-size: 12px;
					line-height: 24px;
					color: #aaacae;
				}
				dd:before{
					content: '●';
					position: absolute;
					left: -16px;
					font-size: 12px;
					line-height: 24px;
				}
			}
			.item:nth-of-type(1) dt{
				color: #e26c60;
			}
			.item:nth-of-type(2) dt{
				color: #b93d5f;
			}
			.item:nth-of-type(3) dt{
				color: #985a99;
			}
			.pages{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				
				text-align: center;
				line-height: 70px;
				height: 70px;
				.dot{
					display: inline-block;
					width: 18px;
					height: 18px;
					margin: 0 8px;
					border-radius: 50%;
					background-color: #ccb5d0;
				}
				.dot.active{
					background-color: #985a99;
				}
			}
		}
		.chart{
			float: right;
			width: 590px;
			height: 100%;
		}
	}
}

#demosShow{
	// background: #f8f9f9;
	background: url(../img/case_bg.png) 50% 23% ;
	padding-bottom: 50px;
	.ds_head{
		.title{
			color: #b93d5f;
		}
	}
	
	.ds_content{
		height: 460px;
		.container{
			float: left;
			height: 100%;
			position: relative;
			overflow: hidden;
		}
		.scrollBar{
			width: 10px;
			height: 460px;
			float: right;
			background: #d5d7db;
			position: relative;
			.barDiv{
				position: absolute;
				background: #e4877e;
				width: 10px;
				height: 30px;
				top: 0;
				left: 0;
			}
		}
		.folderLis{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.folderLis>li{
			margin-bottom: 10px;
		}
		.demo_list{
			width: 360px;
			height: 100%;
			float: left;
			margin-right: 20px;
			.container{
				width: 340px;
			}
			
			.folder{
				background: #e4877e;
				color: #fff;
				font-size: 18px;
				line-height: 50px;
			}
			.folder:before{
				content: "+";
				display: inline-block;
				width: 24px;
				height: 24px;
				background: white;
				color: #e4877e;
				border-radius: 50%;
				line-height: 22px;
				text-align: center;
				font-size: 24px;
				margin: 0 6px 0 10px; 
			}
			.folder.active:before{
				content: "-";
			}
			.demo{
				padding-left: 44px;
				border-left: 3px solid transparent;
				background: #fff;
				color: #1d1d1d;
				font-size: 14px;
				line-height: 40px;
			}
			.demo:before{
				content: "";
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #acaeaf;
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}
			.demo:hover:before,
			.demo.active:before{
				background-color: #e4877e;
			}
			.demo:hover{
				color: #e4877e;
				background-color: #fdf6f5;
			}
			.demo.active{
				color: #e4877e;
				border-color: #e4877e;
				background-color: #fbe9e7;
			}
		}
		.demo_detail{
			float: left;
			width: 600px;
			height: 100%;
			.container{
				width: 580px;
				background-color: white;
			}
			
			.demoDesc{
				padding: 30px;
				position: absolute;
			}
			.head{
				margin-bottom: 10px;
				strong{
					color: #000;
					font-size: 18px;
					line-height: 18px;
					display: block;
				}
				time{
					font-size: 12px;
					line-height: 32px;
					color: #999999;
					display: block;
				}
			}
			.content{
				border-top: 1px dashed #d8d8d8;
				margin-bottom: 20px;
				
				p{
					padding: 16px 0;
					font-size: 14px;
					line-height: 30px;
					color: #777879;
				}
				.thumbnail{
					box-shadow: 1px 1px 4px 1px rgba(0,0,0,.4);
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			.foot{
					height: 40px;
					line-height: 40px;
				.enter{
					float: left;
					width: 160px;
//					height: 40px;
					text-align: center;
					color: white;
					font-size: 16px;
					background-color: #e26c60;
				}
				.enter:hover{
					background-color: #e6948c;
				}
				.shareBox{
					word-spacing: 10px;
					float: right;
//					width: 308px;
					span{
						font-size: 14px;
					}

					.fa{
						width: 32px;
						height: 32px;
						border-radius: 50%;
						background-color: #acaeaf;
						line-height: 32px;
						text-align: center;
						color: white;
						font-size: 18px;
					}
					.fa:nth-of-type(1):hover{
						background: #e2191d;
					}
					.fa:nth-of-type(2):hover{
						background: #126bbd;
					}
					.fa:nth-of-type(3):hover{
						background: #eed03e;
					}
					.fa:nth-of-type(4):hover{
						background: #227dc5;
					}
					.fa:nth-of-type(5):hover{
						background: #4ac22d;
					}
				}
			}
		}
	}
}
#projectShow{
	// background: url(../img/pj_bg.jpg) ;
	// background-size: 100% 100%;
	background-color: #e26c60;
	.ps_head{
		.title{
			color: #fff;
		}
		.desc{
			color: #f7dad8;
		}
	}
	.ps_content{
		.item{
			padding: 42px 0;
			border-bottom: 1px solid #e88980;
			.summary{
				float: left;
				width: 550px;
				color: #f6d3d0;
				.name{
					font-size: 24px;
					line-height: 30px;
					color: #fff;
					display: block;
					font-weight: 100;
				}
				time{
					font-size: 16px;
					line-height: 30px;
					display: block;
				}
				p{
					padding: 15px 0 20px;
					font-size: 14px;
					line-height: 24px;
				}
				.tags{
					span{
						display: inline-block;
//						vertical-align: top;
						width: 80px;
						height: 28px;
						line-height: 28px;
						text-align: center;
						background: white;
						font-size: 14px;
						border: 1px solid #bc5045;
						border-radius: 2px;
						margin-right: 8px;
					}
					span.tag-html{
						color: #b93d5f;
					}
					span.tag-js{
						color: #4b4b9c;
					}
					span.tag-css{
						color: #985a99;
					}
					span.tag-css3{
						color: #e4877e;
					}
				}
			}
			.poster{
				width: 330px;
				height: 220px;
				border: 3px solid #f6d3d0;
				border-radius: 12px;
				float: right;
				img{
				border-radius: 8px;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
#pageFoot{
	// background: url('../img/ft_bg.jpg');
	// background: url('../img/ft_bg3.jpg');
	// background-size-y: 100%;
	background: url('../img/ft_bg2.jpg');
	background-size: 100%;
	background-color: #eef2f5;
	padding: 30px 0 40px;
	font-size: 14px;
	color: #464646;
	.lastTime{
		line-height: 40px;
		float: left;
	}
	.qr{
		float: right;
	}
	.qr_tip{
		float: left;
		width: 160px;
		margin-right: 20px;
		padding-top: 15px;
		line-height: 24px;
	}
	.qr_img{
		float: right;
		width: 70px;
		height: 70px;
		img{

			width: 100%;
			height: 100%;
		}
	}
}
