.wrap{
	width:1000px;
	margin:0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.fz_60{
	font: 60px "Khmer Sangam MN Regular";
	line-height: 46px;
	color: #4d5055;
	vertical-align: -30px;
}
